.message{
    display: flex;
    align-items: center;
    padding: 15px;
    color: white;

}
/* .message__info>h4{
    display: flex;
    justify-content: space-between;
} */
.message__info{
    margin-left: 20px;
}
.message__timestamp{
    font-size: x-small;
    color: #332e2e;
    margin-left: 20px;
    
}