.login{
    display: grid;
    place-items: center;
    height: 100vh;
    width: 100%;background-color: #F6F0ED;
}
.login__logo>img{
    object-fit: contain;
    height: 150px;
}
.login>button{
    background-color: rgb(93, 82, 247);
    color: white;
}
.login>button:hover{
    background-color: black;
    color: white;
}